main {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: fixed;
    background-image: url('./assets/wallpaper_one.jpeg');
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: white;
}

.navbar {
    width: 100%;
    height: 1.5rem;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.homescreen {
    flex-grow: 1;
}

.footer {
    flex-grow: 0;
}